<div class="modal-header">
  <h5 class="modal-title">{{ getActionText() }} Contact</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input
        id="firstName"
        type="text"
        class="form-control"
        formControlName="firstName"
        [class.is-invalid]="contactForm.get('firstName')?.invalid && contactForm.get('firstName')?.touched"
      />
      <div class="invalid-feedback">
        First name is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input
        id="lastName"
        type="text"
        class="form-control"
        formControlName="lastName"
        [class.is-invalid]="contactForm.get('lastName')?.invalid && contactForm.get('lastName')?.touched"
      />
      <div class="invalid-feedback">
        Last name is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        id="email"
        type="email"
        class="form-control"
        [ngClass]="{'masked-background': contact?.id}"
        formControlName="email"
        [readOnly]="contact?.id"
        [class.is-invalid]="contactForm.get('email')?.invalid && contactForm.get('email')?.touched"
      />
      <div class="invalid-feedback">
        A valid email is required.
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="contactForm.invalid">
      {{ getActionText() }}
    </button>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>
</div>